* {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: 'Noto Sans KR', sans-serif; }

button {
  border: none;
  background-color: white; }

.container {
  width: 100%; }

h1 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #22C58B; }
