*{
    box-sizing: border-box;
    margin: 0;
}

.bob{
  width: 300px;
  background-color: gray;
}

.child{
  width: 200px;
  height: 200px;
  
}

.red{
  background-color: red;
  float: left;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}