

$gutter: 10px;
$col: 75px + ($gutter * 2);

.container{
  width: 100%;
  max-width: ($col * 12);
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: (-1)*$gutter;
  margin-left: (-1)*$gutter;
}

.col-1{
  width: 8.3333333333333335%;
  padding: 0 $gutter;
}

.col-2{
  width: 16.66666666666667%;
  padding: 0 $gutter;
}

.col-3{
  width: 25%;
  padding: 0 $gutter;
}

.col-4{
  width: 33.33333333333333%;
  padding: 0 $gutter;
}

.col-5{
  width: 41.66666666666667;
  padding: 0 $gutter;
}

.col-6{
  width: 50%;
  padding: 0 $gutter;
}

.col-7{
  width: 58.33333333333333%;
  padding: 0 $gutter;
}

.col-8{
  width: 66.66666666666667%;
  padding: 0 $gutter;
}

.col-9{
  width: 75%;
  padding: 0 $gutter;
}

.col-10{
  width: 83.33333333333333%;
  padding: 0 $gutter;
}

.col-11{
  width: 91.66666666666667%;
  padding: 0 $gutter;
}

.col-12{
  width: 100%;
  padding: 0 $gutter;
}
