@import './base/reset';
// @import './base/grid';

@import './constants/colors';
@import './constants/fonts';

@import './mixins/typography';

.homepage-log{
  width: auto;
  height: 24px;
}

.header-navi{
  
  &:hover{
    color: $blue;
  }
}







// .parent{
//   .children{
//     &:last-child{

//     }

//     &:hover{

//     }
//   }
// }